{% extends 'base.html' %}
{% load static %}
{% block content %}

{% for abt in about %}

<div class="text-gray-800 antialiased">
    <section class="header pt-20 md:ml-20 md:mb-20 md:pt-40 relative items-center flex">
        <div class="container mx-auto items-center flex flex-wrap">
            <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">

                <h2 class="font-semibold text-4xl text-gray-700">{{abt.title}}<span style="color: #FF7F50;">.</span></h2>
                <p class="mt-4 text-lg leading-relaxed text-gray-600">{{ abt.description }}
                </p>
                <div class="mt-12"><a
                        class="transition duration-500 ease-in-out bg-green-500 hover:bg-green-600 transform hover:-translate-y-1 hover:scale-110 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1  uppercase text-sm shadow hover:shadow-lg"
                        href="{{abt.button1_url}}">{{ abt.button1_title }}</a><a
                        href="{{abt.button2_url}}"
                        class="transition duration-500 ease-in-out bg-green-500 hover:bg-green-600 transform hover:-translate-y-1 hover:scale-110 ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1  uppercase text-sm shadow hover:shadow-lg">
                        {{ abt.button2_title }}</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% empty %}


<div class="text-gray-800 antialiased">
    <section class="header pt-20 md:ml-20 md:pt-40 relative items-center flex">
        <div class="container mx-auto items-center flex flex-wrap">
            <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">

                <h2 class="font-semibold text-4xl text-gray-700">Ojas<span style="color: #FF7F50;">.</span></h2>
                <p class="mt-4 text-lg leading-relaxed text-gray-600">Open-Source progressive web application powered by
                    Django3 styled
                    with Tailwind2
                </p>
                <div class="mt-12"><a
                        class="transition duration-500 ease-in-out bg-green-500 hover:bg-green-600 transform hover:-translate-y-1 hover:scale-110 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1  uppercase text-sm shadow hover:shadow-lg"
                        href="https://github.com/ahampriyanshu/ojas/blob/main/README.md">README</a><a
                        href="https://github.com/ahampriyanshu/ojas/archive/main.zip"
                        class="transition duration-500 ease-in-out bg-green-500 hover:bg-green-600 transform hover:-translate-y-1 hover:scale-110 ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1  uppercase text-sm shadow hover:shadow-lg">
                        Download</a>
                </div>
            </div>
        </div>
    </section>

    <section class=" pb-40 relative">
        <div class="container mx-auto px-4 mt-20 mb-10">
            <div class="items-center flex flex-wrap">
                <div class="w-full md:w-5/12 ml-auto px-12 md:px-4">
                    <div class="md:pr-12">
                        <h3 class="text-3xl font-semibold">Future Ready</h3>
                        <p class="mt-4 text-lg leading-relaxed text-gray-600">Ojas has bee specifcally designed for SEO,  and 
                            user customizibilty.Tags provides a better than static categoris.All the URLs have been best pratices
                            by modern web standard with unique slugs.Tailwinds And Finally Django3 makes the website blazzinly fast.
                        </p>
                        <ul class="list-none mt-6">
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div><span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-gray-600 bg-gray-100 mr-3">
                                            <i class="fas fa-user-shield"></i></span></div>
                                    <div>
                                        <h4 class="text-gray-600">Powerfull admin panel</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div><span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-gray-600 bg-gray-100 mr-3">
                                            <i class="fas fa-rss"></i></span></div>
                                    <div>
                                        <h4 class="text-gray-600">Inbuilt sitemap,RSS Feed and rest_framework api</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div><span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-gray-600 bg-gray-100 mr-3">
                                            <i class="far fa-plus-square"></i></span></div>
                                    <div>
                                        <h4 class="text-gray-600">Offline serviceWorker with custom error pages</h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="w-full md:w-6/12 mr-auto px-4 md:pt-0"><img alt="..."
                        class="max-w-full rounded-lg h-64 shadow-xl" src="{% static 'img/home.png' %}" />
                </div>
            </div>
        </div>




        <div class="justify-center text-center flex flex-wrap mt-24">
            <div class="w-full md:w-6/12 px-12 md:px-4">
                <h2 class="font-semibold text-4xl">Minimal and elegant</h2>
                <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-600">
                With mainly two colors used throughout the website, no unecessary transitions/elements results in faster loading, better compatibility between screen sizes and user-friendly experience.
                </p>
            </div>
        </div>
    </section>

    <section class="block relative z-1 bg-gray-700">
        <div class="container mx-auto">
            <div class="justify-center flex flex-wrap">
                <div class="w-full lg:w-12/12 px-4  -mt-24">
                    <div class="flex flex-wrap">
                        <div class="w-full lg:w-4/12 px-4">
                            <h5 class="text-xl font-semibold pb-4 text-center">Footer</h5>
                            <div class="hover:-mt-4 relative flex flex-col min-w-0 break-words w-full mb-6 rounded-lg"
                                style="transition:all .45s ease"><img alt="Footer"
                                    class="md:transform hover:-translate-y-16 align-middle border-none max-w-full h-auto rounded-lg"
                                    src="{% static 'img/footer.png' %}" />
                            </div>
                        </div>
                        <div class="w-full lg:w-4/12 px-4">
                            <h5 class="text-xl font-semibold pb-4 text-center">User</h5>
                            <div class="hover:-mt-4 relative flex flex-col min-w-0 break-words w-full mb-6 rounded-lg"
                                style="transition:all .45s ease"><img alt="User"
                                    class="md:transform hover:-translate-y-16 align-middle border-none max-w-full h-auto rounded-lg"
                                    src="{% static 'img/footer.png' %}" />
                            </div>
                        </div>
                        <div class="w-full lg:w-4/12 px-4">
                            <h5 class="text-xl font-semibold pb-4 text-center">Contact</h5>
                            <div class="hover:-mt-4 relative flex flex-col min-w-0 break-words w-full mb-6 rounded-lg"
                                style="transition:all .45s ease"><img alt="Contact"
                                    class="md:transform hover:-translate-y-16 align-middle border-none max-w-full h-auto rounded-lg"
                                    src="{% static 'img/footer.png' %}   " />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-20 mb-20 bg-gray-700 overflow-hidden">
        <div class="container mx-auto pb-64">
            <div class="flex flex-wrap justify-center">
                <div class="w-full md:w-5/12 px-12 md:px-4 ml-auto mr-auto md:mt-64">
                    <div
                        class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white">
                        <i class="fas fa-code-branch text-xl"></i></div>
                    <h3 class="text-3xl mb-2 font-semibold leading-normal text-white">Open Sourced on GitHub</h3>
                    <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-500">
                        Feel free to add, modify or delete its content.
                    </p>
                    <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-500">
                        Support the project by staring in on github.
                    </p>
                    
                    <a href="https://github.com/ahampriyanshu/ojas"
                        class="github-star mt-4 inline-block text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-gray-800 active:bg-gray-700 uppercase text-sm shadow hover:shadow-lg">
                        Star the repo</a>

                        <a href="https://github.com/ahampriyanshu"
                        class="github-star mt-4 inline-block text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-gray-800 active:bg-gray-700 uppercase text-sm shadow hover:shadow-lg">
                        Follow Me</a>
                </div>
                <div class="w-full md:w-4/12 px-4 mr-auto ml-auto mt-32 relative"><i class="fab fa-github text-gray-800"
                        style="font-size:55em;position:absolute;top:-150px;right:-100%;left:auto;opacity:.8"></i>
                </div>
            </div>
        </div>
    </section>
</div>
{% endfor %}
<script src="https://kit.fontawesome.com/77f6dfd46f.js" crossorigin="anonymous"></script>
{% endblock content %}