{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-gray-800 antialiased">
    <section class="header relative pt-16 items-center flex h-screen" >
        <div class="container mx-auto items-center flex flex-wrap">
            <div class="w-full md:w-8/12 lg:w-6/12 xl:w-6/12 px-4">
                <div class="pt-32 sm:pt-0">
                    <h2 class="font-semibold text-4xl text-gray-700">Ojas<span style="color: #FF7F50;">.</span></h2>
                    <p class="mt-4 text-lg leading-relaxed text-gray-600">A blog PWA in Django styled with tailwind and hosted with
                    pythonanywhere
                    </p>
                    <div class="mt-12"><a
                            class="transition duration-500 ease-in-out bg-teal-500 hover:bg-red-500 transform hover:-translate-y-1 hover:scale-110 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1  uppercase text-sm shadow hover:shadow-lg"
                            style="transition:all .15s ease"
                            href="">Installation</a><a
                            href="https://github.com/ahampriyanshu/ojas"
                            class="transition duration-500 ease-in-out bg-teal-500 hover:bg-red-500 transform hover:-translate-y-1 hover:scale-110 ml-1 text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1  uppercase text-sm shadow hover:shadow-lg"
                            >Documentation</a>
                        </div>
                </div>
            </div>
        </div><img class="absolute top-0 b-auto right-0 pt-16 sm:w-6/12 -mt-48 sm:mt-0 w-10/12"
            src="https://demos.creative-tim.com/tailwindcss-starter-project/_next/static/images/ill_header_3-58248cf88527a12ccfc6cc70ec21d868.png"
            alt="..."  />
    </section>
  
    <section class=" pb-40 relative">
        <div class="container mx-auto px-4 mt-20 mb-10">
            <div class="items-center flex flex-wrap">
                <div class="w-full md:w-5/12 ml-auto px-12 md:px-4">
                    <div class="md:pr-12">
                        <div
                            class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white">
                            <i class="fas fa-file-alt text-xl"></i></div>
                        <h3 class="text-3xl font-semibold">Ready to Deploy</h3>
                        <p class="mt-4 text-lg leading-relaxed text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <ul class="list-none mt-6">
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div><span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-gray-600 bg-gray-100 mr-3"><i
                                                class="fas fa-fingerprint"></i></span></div>
                                    <div>
                                        <h4 class="text-gray-600">Excepteur sint occaecat cupidatat non proident</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div><span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-gray-600 bg-gray-100 mr-3"><i
                                                class="fab fa-html5"></i></span></div>
                                    <div>
                                        <h4 class="text-gray-600"> sunt in culpa qui officia deserunt mollit</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div><span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-gray-600 bg-gray-100 mr-3"><i
                                                class="far fa-paper-plane"></i></span></div>
                                    <div>
                                        <h4 class="text-gray-600">Ut enim ad minim veniam, quis nostrud</h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="w-full md:w-6/12 mr-auto px-4 mt-28 md:pt-0"><img alt="..."
                        class="max-w-full rounded-lg h-64 shadow-xl"                       
                        src="{% static 'img/1.png' %}" />
                </div>
            </div>
        </div>

        <div class="container mx-auto px-4"mt-20>
            <div class="items-center flex flex-wrap">
                <div class="w-full md:w-6/12 mr-auto px-4 mt-28 md:pt-0"><img alt="..."
                    class="max-w-full rounded-lg h-64 shadow-xl"
                    src="{% static 'img/1.png' %}" />
            </div>
                <div class="w-full md:w-5/12 ml-auto px-12 md:px-4">
                    <div class="md:pr-12">
                        <div
                            class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white">
                            <i class="fas fa-file-alt text-xl"></i></div>
                        <h3 class="text-3xl font-semibold">SEO optimised</h3>
                        <p class="mt-4 text-lg leading-relaxed text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <ul class="list-none mt-6">
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div><span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-gray-600 bg-gray-100 mr-3"><i
                                                class="fas fa-fingerprint"></i></span></div>
                                    <div>
                                        <h4 class="text-gray-600">Excepteur sint occaecat cupidatat non proident</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div><span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-gray-600 bg-gray-100 mr-3"><i
                                                class="fab fa-html5"></i></span></div>
                                    <div>
                                        <h4 class="text-gray-600"> sunt in culpa qui officia deserunt mollit</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div><span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-gray-600 bg-gray-100 mr-3"><i
                                                class="far fa-paper-plane"></i></span></div>
                                    <div>
                                        <h4 class="text-gray-600">Ut enim ad minim veniam, quis nostrud</h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="container mx-auto px-4 mt-20 mb-10">
            <div class="items-center flex flex-wrap">
                <div class="w-full md:w-5/12 ml-auto px-12 md:px-4">
                    <div class="md:pr-12">
                        <div
                            class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white">
                            <i class="fas fa-file-alt text-xl"></i></div>
                        <h3 class="text-3xl font-semibold">Powerfull Admin Panel</h3>
                        <p class="mt-4 text-lg leading-relaxed text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <ul class="list-none mt-6">
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div><span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-gray-600 bg-gray-100 mr-3"><i
                                                class="fas fa-fingerprint"></i></span></div>
                                    <div>
                                        <h4 class="text-gray-600">Excepteur sint occaecat cupidatat non proident</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div><span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-gray-600 bg-gray-100 mr-3"><i
                                                class="fab fa-html5"></i></span></div>
                                    <div>
                                        <h4 class="text-gray-600"> sunt in culpa qui officia deserunt mollit</h4>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="flex items-center">
                                    <div><span
                                            class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-gray-600 bg-gray-100 mr-3"><i
                                                class="far fa-paper-plane"></i></span></div>
                                    <div>
                                        <h4 class="text-gray-600">Ut enim ad minim veniam, quis nostrud</h4>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="w-full md:w-6/12 mr-auto px-4 mt-28 md:pt-0"><img alt="..."
                        class="max-w-full rounded-lg h-64 shadow-xl"
                        src="{% static 'img/1.png' %}" />
                </div>
            </div>
        </div>


        <div class="justify-center text-center flex flex-wrap mt-24">
            <div class="w-full md:w-6/12 px-12 md:px-4">
                <h2 class="font-semibold text-4xl">Minimal and elegant</h2>
                <p class="text-lg leading-relaxed mt-4 mb-4 text-gray-600">Tailwind Starter Kit is a completly new
                    product built using our past experience in web templates. Take the examples we made for you and
                    start playing with them.</p>
            </div>
        </div>
    </section>

    <section class="block relative z-1 bg-gray-700">
        <div class="container mx-auto">
            <div class="justify-center flex flex-wrap">
                <div class="w-full lg:w-12/12 px-4  -mt-24">
                    <div class="flex flex-wrap">
                        <div class="w-full lg:w-4/12 px-4">
                            <h5 class="text-xl font-semibold pb-4 text-center">Login Page</h5>
                            <div class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg"
                                style="transition:all .15s ease"><img alt="..."
                                    class="align-middle border-none max-w-full h-auto rounded-lg"
                                    src="{% static 'img/1.png' %}" />
                            </div>
                        </div>
                        <div class="w-full lg:w-4/12 px-4">
                            <h5 class="text-xl font-semibold pb-4 text-center">Profile Page</h5>
                            <div class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg"
                                style="transition:all .15s ease"><img alt="..."
                                    class="align-middle border-none max-w-full h-64 rounded-lg"
                                    src="{% static 'img/1.png' %}" />
                            </div>
                        </div>
                        <div class="w-full lg:w-4/12 px-4">
                            <h5 class="text-xl font-semibold pb-4 text-center">Landing Page</h5>
                            <div class="hover:-mt-4 relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg"
                                style="transition:all .15s ease"><img alt="..."
                                    class="align-middle border-none max-w-full h-auto rounded-lg"
                                    src="{% static 'img/1.png' %}   " />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-20 mb-20 bg-gray-700 overflow-hidden">
        <div class="container mx-auto pb-64">
            <div class="flex flex-wrap justify-center">
                <div class="w-full md:w-5/12 px-12 md:px-4 ml-auto mr-auto md:mt-64">
                    <div
                        class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white">
                        <i class="fas fa-code-branch text-xl"></i></div>
                    <h3 class="text-3xl mb-2 font-semibold leading-normal text-white">Open Source</h3>
                    <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-500">Lorem ipsum is placeholder text commonly used in the graphic</p>
                    <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-500">
                        Support me by following me on github.
                    </p><a
                        href="https://github.com/ahampriyanshu/ojas" 
                        class="github-star mt-4 inline-block text-white font-bold px-6 py-4 rounded outline-none focus:outline-none mr-1 mb-1 bg-gray-800 active:bg-gray-700 uppercase text-sm shadow hover:shadow-lg">Github
                        Star</a>
                </div>
                <div class="w-full md:w-4/12 px-4 mr-auto ml-auto mt-32 relative"><i
                        class="fab fa-github text-gray-800"
                        style="font-size:55em;position:absolute;top:-150px;right:-100%;left:auto;opacity:.8"></i>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}