{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}


<!--Container-->
<div class="container w-full md:max-w-3xl mx-auto sm:pt-10">
 
  <div class="p-8 pt-32">
    <div class="shadow-xl rounded-lg">

      {% for auth in author %}
      <div class="bg-white rounded-b-lg px-8">
        {% if auth.image %}
        <div class="relative">
              <img class="right-0 sm:w-32 sm:h-32 h-16 w-16 rounded-full mr-4 shadow-lg absolute sm:-mt-16 -mt-8" src="{{ auth.image.url }}" alt="image of Jonathan Reinink">
        </div>
        {% endif %}
        <div class="pt-8 pb-8">
          <h1 class="text-2xl font-bold text-gray-700">{{ auth.full_name }}</h1>
          <p class="text-sm text-gray-600">Contribututing since {{ auth.joined|date:"d M, Y" }}</p>
          
          <p class="mt-6 text-gray-700"> 
            {{ auth.bio|safe|linebreaks }}
          </p>
          
          <div class="my-6">
            {% if auth.instagram %}
            <a
              class="shadow-lg font-normal h-8 w-8 rounded-full outline-none focus:outline-none mr-2 "
              type="button"
            >
            <svg class="fill-current cursor-pointer text-teal-500 hover:text-blue-600" width="100%" height="100%"
            viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
            style="
         fill-rule: evenodd;
         clip-rule: evenodd;
         stroke-linejoin: round;
         stroke-miterlimit: 2;
       ">
            <path id="Shape" d="M7.3,0.9c1.5,-0.6 3.1,-0.9 4.7,-0.9c1.6,0 3.2,0.3 4.7,0.9c1.5,0.6 2.8,1.5
              3.8,2.6c1,1.1 1.9,2.3 2.6,3.8c0.7,1.5 0.9,3 0.9,4.7c0,1.7 -0.3,3.2
              -0.9,4.7c-0.6,1.5 -1.5,2.8 -2.6,3.8c-1.1,1 -2.3,1.9 -3.8,2.6c-1.5,0.7
              -3.1,0.9 -4.7,0.9c-1.6,0 -3.2,-0.3 -4.7,-0.9c-1.5,-0.6 -2.8,-1.5
              -3.8,-2.6c-1,-1.1 -1.9,-2.3 -2.6,-3.8c-0.7,-1.5 -0.9,-3.1 -0.9,-4.7c0,-1.6
              0.3,-3.2 0.9,-4.7c0.6,-1.5 1.5,-2.8 2.6,-3.8c1.1,-1 2.3,-1.9
              3.8,-2.6Zm-0.3,7.1c0.6,0 1.1,-0.2 1.5,-0.5c0.4,-0.3 0.5,-0.8 0.5,-1.3c0,-0.5
              -0.2,-0.9 -0.6,-1.2c-0.4,-0.3 -0.8,-0.5 -1.4,-0.5c-0.6,0 -1.1,0.2
              -1.4,0.5c-0.3,0.3 -0.6,0.7 -0.6,1.2c0,0.5 0.2,0.9 0.5,1.3c0.3,0.4 0.9,0.5
              1.5,0.5Zm1.5,10l0,-8.5l-3,0l0,8.5l3,0Zm11,0l0,-4.5c0,-1.4 -0.3,-2.5
              -0.9,-3.3c-0.6,-0.8 -1.5,-1.2 -2.6,-1.2c-0.6,0 -1.1,0.2 -1.5,0.5c-0.4,0.3
              -0.8,0.8 -0.9,1.3l-0.1,-1.3l-3,0l0.1,2l0,6.5l3,0l0,-4.5c0,-0.6 0.1,-1.1
              0.4,-1.5c0.3,-0.4 0.6,-0.5 1.1,-0.5c0.5,0 0.9,0.2 1.1,0.5c0.2,0.3 0.4,0.8
              0.4,1.5l0,4.5l2.9,0Z"></path>
         </svg>
         </a>
         {% endif %}
      </div>
      </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <!-- Articles -->

  <p class="font-sans font-bold  text-2xl leading-none mt-20 text-center text-teal-400">More From {{author.full_name}}</p>


  {% for post in posts %}

  <div class="mx-auto px-4 py-8 max-w-xl my-auto">
    <div class="bg-white shadow-2xl rounded-lg mb-6 tracking-wide">
      <a href='{{ post.get_absolute_url }}'>
      {% if post.image %}
      <div class="md:flex-shrink-0">
        <img src="{{post.image.url}}" alt="uploaded cover image"
          class="w-full h-auto rounded-lg rounded-b-none" style="object-fit: file ;">
      </div>
      {% else %}
      <div class="md:flex-shrink-0">
        <img src="{% static 'default/blog.png' %}"  alt="default cover image"
          class="w-full h-auto rounded-lg rounded-b-none" style="object-fit: file ;">
      </div>
      {% endif %}
      </a>
      <div class="px-4 py-2">
        <div class="pl-4 pt-2">
          <h2 class="truncate font-bold text-2xl text-gray-800 tracking-normal">{{ post.title }}</h2>
          <p class="break-all text-sm text-gray-700 px-2 mr-1">{{ post.body|markdown|truncatewords_html:200 }}</p>
        </div>
        <footer class="flex items-center justify-between mt-5 p-2 md:p-4">
          <div class="flex items-center">
            <a target="_blank" href='{% url "blog:post_author" post.author %}'>
            {% if post.author %}
            <img class="w-12 h-12 object-cover rounded-full"
            src="{{ post.author.image.url }}" alt="upload image">
            {% else %}
            <img class="w-12 h-12 object-cover rounded-full"
            src="{% static 'default/user.png' %}" alt="default image">
            {% endif %}
          </a>
            <div class="text-sm ml-2">
              <p class="text-black leading-none">{{ post.author }}</p>
              <p class="text-grey-dark">{{ post.publish|date:"d M, Y" }}</p>
            </div>
          </div>
          <a href="{{ post.get_absolute_url }}" class="bg-teal-500 hover:bg-teal-400 text-white rounded-full px-8 py-2">
          Read More
          </a>
         </footer>
      </div>
    </div>
  </div>

  {% empty %}
  <h2 class="leading-none mt-10 mb-20 text-center">No recommendations for now</h2>
  {% endfor %}

  <!--Newsletter Starts-->
  <div class="container px-4 pb-8">
    <div class="font-sans p-4 text-center">
      <h2 class="font-bold break-normal text-xl md:text-3xl">
        Subscribe to the Newsletter
      </h2>
      <h3 class="font-bold break-normal font-normal text-gray-600 text-sm md:text-base">
        Get the latest posts delivered right to your inbox
      </h3>
      <div class="w-full text-center pt-4">
        <form action="#">
          <div class="max-w-xl mx-auto p-1 pr-0 flex flex-wrap items-center">
            <input type="email" placeholder="youremail@example.com"
              class="flex-1 mt-4 appearance-none border border-gray-400 rounded shadow-md p-3 text-gray-600 mr-2 focus:outline-none" />
            <button type="submit"
              class="flex-1 mt-4 block md:inline-block appearance-none bg-teal-500 text-white text-base font-semibold tracking-wider uppercase py-4 rounded shadow hover:bg-teal-400">
              Subscribe
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
<!--Newsletter Ends-->

</div>
<hr class="border-b-2 border-gray-400 mb-8 mx-8" />
{% endblock content %}