{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}


<!--Container-->
<div class="container w-full md:max-w-3xl mx-auto sm:pt-10">
 
  <div class="p-8 pt-32">
    <div class="shadow-xl rounded-lg">

      {% for auth in author %}
      <div class="bg-white rounded-b-lg px-8">
        {% if auth.image %}
        <div class="relative">
              <img class="right-0 sm:w-32 sm:h-32 h-16 w-16 rounded-full mr-4 shadow-lg absolute sm:-mt-16 -mt-8" src="{{ auth.image.url }}" alt="image of Jonathan Reinink">
        </div>
        {% endif %}
        <div class="pt-8 pb-8">
          <h1 class="text-2xl font-bold text-gray-700">{{ auth.full_name }}</h1>
          <p class="text-sm text-gray-600">Contribututing since {{ auth.joined|date:"d M, Y" }}</p>
          
          <p class="mt-6 text-gray-700"> 
            {{ auth.bio|safe|linebreaks }}
          </p>
          
          <div class="my-6">
            {% if auth.instagram %}
            <a
              class="shadow-lg font-normal h-8 w-8 rounded-full outline-none focus:outline-none mr-2 "
              type="button"
            >
            <svg class="fill-current cursor-pointer text-teal-500 hover:text-blue-600" width="100%" height="100%"
            viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/"
            style="
         fill-rule: evenodd;
         clip-rule: evenodd;
         stroke-linejoin: round;
         stroke-miterlimit: 2;
       ">
            <path id="Shape" d="M7.3,0.9c1.5,-0.6 3.1,-0.9 4.7,-0.9c1.6,0 3.2,0.3 4.7,0.9c1.5,0.6 2.8,1.5
              3.8,2.6c1,1.1 1.9,2.3 2.6,3.8c0.7,1.5 0.9,3 0.9,4.7c0,1.7 -0.3,3.2
              -0.9,4.7c-0.6,1.5 -1.5,2.8 -2.6,3.8c-1.1,1 -2.3,1.9 -3.8,2.6c-1.5,0.7
              -3.1,0.9 -4.7,0.9c-1.6,0 -3.2,-0.3 -4.7,-0.9c-1.5,-0.6 -2.8,-1.5
              -3.8,-2.6c-1,-1.1 -1.9,-2.3 -2.6,-3.8c-0.7,-1.5 -0.9,-3.1 -0.9,-4.7c0,-1.6
              0.3,-3.2 0.9,-4.7c0.6,-1.5 1.5,-2.8 2.6,-3.8c1.1,-1 2.3,-1.9
              3.8,-2.6Zm-0.3,7.1c0.6,0 1.1,-0.2 1.5,-0.5c0.4,-0.3 0.5,-0.8 0.5,-1.3c0,-0.5
              -0.2,-0.9 -0.6,-1.2c-0.4,-0.3 -0.8,-0.5 -1.4,-0.5c-0.6,0 -1.1,0.2
              -1.4,0.5c-0.3,0.3 -0.6,0.7 -0.6,1.2c0,0.5 0.2,0.9 0.5,1.3c0.3,0.4 0.9,0.5
              1.5,0.5Zm1.5,10l0,-8.5l-3,0l0,8.5l3,0Zm11,0l0,-4.5c0,-1.4 -0.3,-2.5
              -0.9,-3.3c-0.6,-0.8 -1.5,-1.2 -2.6,-1.2c-0.6,0 -1.1,0.2 -1.5,0.5c-0.4,0.3
              -0.8,0.8 -0.9,1.3l-0.1,-1.3l-3,0l0.1,2l0,6.5l3,0l0,-4.5c0,-0.6 0.1,-1.1
              0.4,-1.5c0.3,-0.4 0.6,-0.5 1.1,-0.5c0.5,0 0.9,0.2 1.1,0.5c0.2,0.3 0.4,0.8
              0.4,1.5l0,4.5l2.9,0Z"></path>
         </svg>
         </a>
         {% endif %}
      </div>
      </div>
      </div>
    </div>
  </div>
  {% endfor %}

  {% for post in posts %}
  <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
    <article class="overflow-hidden bg-white rounded-lg shadow-lg">
      <a href="#">
        <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">
      </a>
      <div class="p-5">
        <h1 class="font-bold text-xl mb-2">{{ post.title }}</h1>
        <p class="bg-white text-sm text-black">{{ post.body|markdown|truncatewords_html:30 }}</p>
      </div>     
        <footer class="flex items-center justify-between leading-none p-2 md:p-4">
          <div class="flex items-center">
            <img class="w-10 h-10 rounded-full"
              src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg"
              alt="image of Jonathan Reinink">
            <div class="text-sm ml-2">
              <p class="text-black leading-none">{{ post.author }}</p>
              <p class="text-grey-dark">{{ post.publish|date:"d M, Y" }}</p>
            </div>
          </div>
          <a href="{{ post.get_absolute_url }}" class="py-2 px-3 mt-4 px-6 text-white bg-teal-500 inline-block rounded">Read More</a>
        </footer>
    </article>
  </div>
  {% endfor %}

  <!--Newsletter Starts-->
  <div class="container px-4 pb-8">
    <div class="font-sans p-4 text-center">
      <h2 class="font-bold break-normal text-xl md:text-3xl">
        Subscribe to the Newsletter
      </h2>
      <h3 class="font-bold break-normal font-normal text-gray-600 text-sm md:text-base">
        Get the latest posts delivered right to your inbox
      </h3>
      <div class="w-full text-center pt-4">
        <form action="#">
          <div class="max-w-xl mx-auto p-1 pr-0 flex flex-wrap items-center">
            <input type="email" placeholder="youremail@example.com"
              class="flex-1 mt-4 appearance-none border border-gray-400 rounded shadow-md p-3 text-gray-600 mr-2 focus:outline-none" />
            <button type="submit"
              class="flex-1 mt-4 block md:inline-block appearance-none bg-teal-500 text-white text-base font-semibold tracking-wider uppercase py-4 rounded shadow hover:bg-teal-400">
              Subscribe
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
<!--Newsletter Ends-->

</div>
<hr class="border-b-2 border-gray-400 mb-8 mx-8" />
{% endblock content %}