{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% load tailwind_filters %}
{% load social_share %}


{% block content %}

<!--Container-->
<div class="container w-full md:max-w-3xl mx-auto pt-20">


  <!-- Article -->
  <div class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal" style="font-family: Georgia, serif">
    <div class="font-sans">
      <h1 class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">
        {{ post.title }}
      </h1>
      <p class="text-sm ml-2 md:text-base font-normal text-gray-600">
        Published {{ post.publish|date:"d M, Y" }}
      </p>
    </div>
    <p class="py-6" style="font-family: Georgia, serif">
      {{ post.body|markdown|linebreaks }}
  </div>

  <div class="text-base md:text-sm text-gray-500 px-4 py-6">
    Tags:
    {% for tag in post.tags.all %}
    <a href='{% url "blog:post_list_by_tag" tag.slug %}'
      class="text-base md:text-sm text-teal-500 no-underline hover:underline">{{ tag.name }}</a>
    {% if not forloop.last %}, {% endif %}
    {% endfor %}
    </a>
  </div>


  <!-- Author -->
  <!-- src="{{ post.author.image.url }}" -->
  <div class="bg-white p-6 shadow-lg rounded-lg mb-10 flex justify-between items-center">
    <div class="flex">
      <a href='{% url "blog:post_author" post.author %}'>
      <div class="mr-4">
        {% if post.author.image %}
        <img class="sm:w-12 sm:h-12 w-14 h-14 rounded-full"
        src="{{ post.author.image.url }}" alt="image" />
        {% else %}
        <img class="sm:w-12 sm:h-12 w-14 h-14 rounded-full"
        src="{% static 'default/user.png' %}" alt="image" />
        {% endif %}
      </div>
    </a>
      <div>
        <h1 class="text-xl font-medium text-gray-700"> {{ post.author.author.username }}</h1>
        <p class="text-gray-600"> The author has published {%  total_posts post.author  %} articles since
          {{ post.author.date_joined|date:"M, Y" }}
        </p>
      </div>
    </div>
    <a href='{% url "blog:post_author" post.author %}'
      class="bg-teal-500 hover:opacity-75 text-white rounded-full px-8 py-2">
      Read More
    </a>
  </div>

  <!-- Next & Prev Links -->
  <div class="font-sans flex justify-between content-center px-4 pb-12">
    {% if post.get_previous_by_publish %}
      <div class="text-left">

      <a href="{{ post.get_previous_by_publish.get_absolute_url }}"> <span class="text-xs md:text-sm font-normal text-gray-600">
      &lt; Previous Post</span><br/></a>
    

      <p>
        <a href="#" class="break-normal text-base md:text-sm text-teal-500 font-bold no-underline hover:underline">
          {{ post.get_previous_by_publish.title|truncatewords_html:5 }}
        </a>
      </p>
    </div>

    {% endif %}

    {% if post.get_next_by_publish %}
    <div class="text-right">
      
      <a href="?page={{ post.get_next_by_publish.get_absolute_url }}"> <span class="text-xs md:text-sm font-normal text-gray-600">
      Next Post &gt;
        </span>
        <br /></a>
      
      <p>
        <a href="#" class="break-normal text-base md:text-sm text-teal-500 font-bold no-underline hover:underline">
          {{ post.get_next_by_publish.title|truncatewords_html:5 }}
        </a>
      </p>
    </div>
    {% endif %}
  </div>

  <!--Discussion-->
  <p class="font-sans font-bold  text-2xl leading-none my-4 text-teal-400">
    Discussion
    {% with comments.count as total_comments %}
    <span class="ml-2 text-base font-normal text-black">{{ total_comments }}
      comment{{ total_comments|pluralize }}</span>
    {% endwith %}
  </p>

  <!--Comments-->
  {% for comment in comments %}
  <div class="p-8">
    <div class="flex">
      <div>
        <div class="w-10 h-10 bg-cover bg-center rounded-full mr-3 shadow-inner">
          <svg class="fill-current h-10 w-10 text-teal-600 bg-white rounded-full flex justify-center items-center"
            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path
              d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7.753 18.305c-.261-.586-.789-.991-1.871-1.241-2.293-.529-4.428-.993-3.393-2.945 3.145-5.942.833-9.119-2.489-9.119-3.388 0-5.644 3.299-2.489 9.119 1.066 1.964-1.148 2.427-3.393 2.945-1.084.25-1.608.658-1.867 1.246-1.405-1.723-2.251-3.919-2.251-6.31 0-5.514 4.486-10 10-10s10 4.486 10 10c0 2.389-.845 4.583-2.247 6.305z" />
            </svg>
        </div>
      </div>
      <div>
      {% if comment.name %}
      <p class="text-gray-600 font-medium">{{ comment.name }}</p>
      {% else %}
      <p class="text-gray-600 font-medium">Anonymous</p>
      {% endif %}
        <div class="flex items-center text-xs text-gray-600">
          <p> {{ comment.created|timesince }} ago</p>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <p class="text-gray-600 text-sm">
        {{ comment.body|safe }}
      </p>
    </div>
  </div>
  {% empty %}
  <div class="flex p-4">
  <div class="mr-4">
    <svg class="fill-current h-10 w-10 text-teal-400 bg-white rounded-full flex justify-center items-center"
      xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M12 2c5.514 0 10 body4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-.001 5.75c.69 0 1.251.56 1.251 1.25s-.561 1.25-1.251 1.25-1.249-.56-1.249-1.25.559-1.25 1.249-1.25zm2.001 12.25h-4v-1c.484-.179 1-.201 1-.735v-4.467c0-.534-.516-.618-1-.797v-1h3v6.265c0 .535.517.558 1 .735v.999z"/> </svg>
  </div>
  <div class="flex justify-between w-full">
    <div class="text-teal-400">
      <p class="mb-2 font-bold">
      No comments yet.
      </p>
      <p class="text-xs">
      Be the first to comment.
      </p>
    </div>
  </div>
</div>
  {% endfor %}



  <!-- Comment_Form -->
  <div class="w-full lg:w-1/2 md:w-1/2 justify-start">
    {% if new_comment %}
    <div class="flex p-4">
      <div class="mr-4">
        <svg class="fill-current h-10 w-10 text-green-600 bg-white rounded-full flex justify-center items-center"
          xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1.25 17.292l-4.5-4.364 1.857-1.858 2.643 2.506 5.643-5.784 1.857 1.857-7.5 7.643z"/>
        </svg>
      </div>
      <div class="flex justify-between w-full">
        <div class="text-green-600">
          <p class="mb-2 font-bold">
            Your comment has been added.
          </p>
          <p class="text-xs">
            Thank You for the feedback.
          </p>
        </div>
      </div>
      {% else %}
      <h3>Leave a comment</h3>
      <form method="post" style="margin-top: 1.3em;">
        {{ comment_form|crispy }}
        {% csrf_token %}
        <div class="-mr-1">
          <input type="submit" class="bg-teal-500 hover:opacity-75 text-white rounded-full px-8 py-2" value='Comment'>
        </div>
      </form>
      {% endif %}
    </div>
  </div>

  <!-- Recommended -->

  <p class="font-sans font-bold  text-2xl leading-none mt-20 text-center text-teal-400">Recommended For You</p>


  {% for post in similar_posts %}

  <div class="mx-auto px-4 py-8 max-w-xl my-auto">
    <div class="bg-white shadow-2xl rounded-lg mb-6 tracking-wide">
      <a href='{% url "blog:post_author" post.author %}'>
      {% if post.image %}
      <div class="md:flex-shrink-0">
        <img src="{{post.image.url}}" alt="uploaded cover image"
          class="w-full h-auto rounded-lg rounded-b-none" style="object-fit: file ;">
      </div>
      {% else %}
      <div class="md:flex-shrink-0">
        <img src="{% static 'default/blog.png' %}"  alt="default cover image"
          class="w-full h-auto rounded-lg rounded-b-none" style="object-fit: file ;">
      </div>
      {% endif %}
      </a>
      <div class="px-4 py-2">
        <h2 class="truncate font-bold text-2xl text-gray-800 tracking-normal">{{ post.title }}</h2>
        <p class="break-all text-sm text-gray-700 px-2 mr-1">{{ post.body|markdown|truncatewords_html:200 }}</p>
        <footer class="flex items-center justify-between leading-none mt-5 p-2 md:p-4">
          <div class="flex items-center">
            {% if post.author %}
            <img class="w-12 h-12 object-cover rounded-full"
            src="{{ post.author.image.url }}" alt="upload image">
            {% else %}
            <img class="w-12 h-12 object-cover rounded-full"
            src="{% static 'default/user.png' %}" alt="default image">
            {% endif %}
              <h2 class="ml-3 text-sm text-gray-900">
                {{ post.author }}
                <p class="tracking-tighter text-gray-600">{{ post.publish|date:"d M, Y" }}</p>
              </h2>
          </div>
          <a href="{{ post.get_absolute_url }}" class="bg-teal-500 hover:bg-teal-400 text-white rounded-full px-8 py-2">
          Read More
          </a>
         </footer>
      </div>
    </div>
  </div>

  {% empty %}
  <h2 class="leading-none mt-10 mb-20 text-center">No recommendations for now</h2>
  {% endfor %}

  <!--Newsletter Starts-->
  <div class="container px-4 pb-8">
    <div class="font-sans p-4 text-center">
      <h2 class="font-bold break-normal text-xl md:text-3xl">
        Subscribe to the Newsletter
      </h2>
      <h3 class="font-bold break-normal font-normal text-gray-600 text-sm md:text-base">
        Get the latest posts delivered right to your inbox
      </h3>
      <div class="w-full text-center pt-4">
        <form action="#">
          <div class="max-w-xl mx-auto p-1 pr-0 flex flex-wrap items-center">
            <input type="email" placeholder="youremail@example.com"
              class="flex-1 mt-4 appearance-none border border-gray-400 rounded shadow-md p-3 text-gray-600 mr-2 focus:outline-none" />
            <button type="submit"
              class="flex-1 mt-4 block md:inline-block appearance-none bg-teal-500 text-white text-base font-semibold tracking-wider uppercase py-4 rounded shadow hover:bg-teal-400">
              Subscribe
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--Newsletter Ends-->

</div>
<hr class="border-b-2 border-gray-400 mb-8 mx-8" />
{% endblock content %}