<div style="padding: 20px; text-align: center; margin: auto; background: #fafafa; font-size:15px;">
    <p style="color:grey; font-size: 24px;">
        Thanks for the confimation.</p>
        <p style="color:grey; font-size: 16px;">
        I will be sending you the latest published articles once or twice a month.
</p>


    <p style="color:grey; font-size: 16px;">Please do not reply on this email.<br>
        For any further queries, click <a style="color: #4fd1c5;" href="http://{{ request.get_host }}/about">here</a> to contact.
    </p>
    <p style="color:grey; font-size: 16px;">To unsubscribe, click 
        <a style="color: #4fd1c5;" href="{{ unsubsrcibe_url }}">here</a>.
   </p>
</div>