{% load custom_tags %}
{% load static %}

<footer class="font-sans relative pt-5 pb-3 md:pb-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">

      <div class="flex w-full md:w-5/12">
        <div class="text-2xl px-8">
          {% get_about %}
        </div>
      </div>


      <div class="flex w-full md:w-5/12 px-4">
        <div class="text-2xl">
          <p class="font-bold text-gray-900 dark:text-gray-100">Subsrcibe</p>
<p class="py-4 text-gray-700 text-sm">
Get the latest posts delivered right to your inbox
</p>
<div class="my-3"> 
  <form id="footerForm" action="" method="POST">
    <input type="email" name="email" id="email"
      class="p-2 border border-grey-light round text-black placeholder-gray-400 text-sm h-auto"
      placeholder="Enter Email Address" required />
    <button type="submit" id="emailBtn"
      class="bg-teal-500 text-white active:bg-teal-400 
       rounded shadow hover:shadow-lg outline-none focus:outline-none h-auto text-xs p-3">Submit</button>
  </form>
</div> 
        </div>
      </div>


      <div class="flex w-full md:w-2/12 px-4">
        <div class="flex flex-wrap items-top">
          <div class="w-full  ml-auto">
            <p class="font-semibold text-sm text-gray-900 mb-2">Popular Tags</p>
            <ul class="list-unstyled">

              {% common_tags 4 %}

            </ul>
          </div>
          </div>
      </div>

      <!-- <div class="w-full md:w-1/3 px-4">
        <div class="flex flex-wrap items-top">
          <div class="w-full lg:w-6/12 px-4 ml-auto">
            <p class="font-bold text-sm text-gray-900 mb-2">Popular</p>
            <ul class="list-unstyled">

              {% common_tags 4 %}

            </ul>
          </div>
          <div class="w-full lg:w-6/12 px-4">
            <p class="font-bold text-sm text-gray-900 mb-2">Resources</p>
            <ul class="list-unstyled">
              <li>
                <a  
                  class="text-gray-700 hover:text-gray-900 pb-2 text-sm" href="/api">
                  <svg xmlns="http://www.w3.org/2000/svg" style=" display: inline-block;" class="mr-2" width="12"
                    height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-trello">
                    <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                    <rect x="7" y="7" width="3" height="9"></rect>
                    <rect x="14" y="7" width="3" height="5"></rect>
                  </svg>Api</a>
              </li>
              <li>
                <a  
                  class="text-gray-700 hover:text-gray-900 pb-2 text-sm" href="/feed">
                  <svg xmlns="http://www.w3.org/2000/svg" style=" display: inline-block;" class="mr-2" width="12"
                    height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss">
                    <path d="M4 11a9 9 0 0 1 9 9"></path>
                    <path d="M4 4a16 16 0 0 1 16 16"></path>
                    <circle cx="5" cy="19" r="1"></circle>
                  </svg>RSS Feed</a>
              </li>
              <li>
                <a  
                  class="text-gray-700 hover:text-gray-900 pb-2 text-sm" href="/sitemap.xml"><svg
                    style=" display: inline-block;" class="mr-2" xmlns="http://www.w3.org/2000/svg" width="12"
                    height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-settings">
                    <circle cx="12" cy="12" r="3"></circle>
                    <path
                      d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                    </path>
                  </svg>Sitmap</a>
              </li>
              <li>
                <a  
                  class="text-gray-700 hover:text-gray-900 pb-2 text-sm" href="/me">
                  <svg xmlns="http://www.w3.org/2000/svg" style=" display: inline-block;" class="mr-2" width="12"
                    height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5"
                    stroke-linecap="round" stroke-linejoin="round" class="feather feather-smartphone">
                    <rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect>
                    <line x1="12" y1="18" x2="12.01" y2="18"></line>
                  </svg>Me</a>
              </li>
            </ul>
          </div>
        </div>
      </div> -->

      <!-- <div class="flex flex:col w-full md:w-1/3"> 
        <div>
        <h5 class="text-lg mt-0 mb-2 text-gray-700">
          Enter your email to view the list of your registered events
        </h5>
        <div class="mt-4">
          <form id="footerForm" action="" method="POST">
            <input type="email" name="email" id="email"
              class="p-2 border border-grey-light round text-black placeholder-gray-200 text-sm h-auto"
              placeholder="email address" required />
            <button type="submit" id="emailBtn"
              class="bg-teal-500 text-white active:bg-teal-400
               rounded shadow hover:shadow-lg outline-none focus:outline-none h-auto text-xs p-3">Submit</button>
          </form>
        </div>
      </div>
        </div>  -->




    </div>
    <hr class="my-3 md:my-6 border-gray-400" />
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-gray-600  py-1">
          MIT Licensed © 2021 by
          <a href="https://github.com/ahampriyanshu" class="text-gray-600 hover:text-gray-900">ahampriyanshu</a>.
        </div>
      </div>
    </div>
  </div>
</footer>