{% load custom_tags %}
{% load static %}

<footer class="relative pt-10 pb-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="flex w-full md:w-1/2">
        <div class="px-8">
          {% get_about %}
        </div>
      </div>


      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top">
          <div class="w-full lg:w-4/12 px-4 ml-auto">
            <h3 class="font-bold text-sm text-gray-900 mb-2">Popular</h3>
            <ul class="list-unstyled">

              {% common_tags 4 %}

            </ul>
          </div>
          <div class="w-full lg:w-4/12 px-4">
            <h3 class="font-bold text-sm text-gray-900 mb-2">Resources</h3>
            <ul class="list-unstyled">
              <li>
                <a target="_blank" rel="noopener noreferrer"
                  class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="/api">Api</a>
              </li>
              <li>
                <a target="_blank" rel="noopener noreferrer"
                  class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="/feed">RSS Feed</a>
              </li>
              <li>
                <a target="_blank" rel="noopener noreferrer"
                  class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                  href="/sitemap.xml">Sitmap</a>
              </li>
              <li>
                <a target="_blank" rel="noopener noreferrer"
                  class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm" href="/me">Me</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-400" />
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-gray-600 font-semibold py-1">
          MIT Licensed © 2020 by
          <a href="https://www.creative-tim.com" class="text-gray-600 hover:text-gray-900">ahampriyanshu</a>.
        </div>
      </div>
    </div>
  </div>
</footer>