{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block content %}


{% show_latest_posts %}


<!-- component -->
<div class="container my-12 mx-auto py-4 md:px-12 lg:w-10/12 ">
  <div class="flex flex-wrap justify-center">

    {% for post in posts %}
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
      <article class="overflow-hidden bg-white rounded-lg shadow-lg">

        <a href="{{ post.get_absolute_url }}">
          {% if post.image %}
          <img alt="Placeholder" class="block object-cover h-48 w-full" src="{{post.image.url}}">
          {% else %}
          <img alt="Placeholder" class="block object-cover h-48 w-full" src="{% static 'default/blog.png' %}">
          {% endif %}
        </a>


        <div class="p-5">
          <h1 class="font-bold text-xl mb-2">{{ post.title }}</h1>
          <p class="bg-white text-sm text-black">{{ post.body|markdown|truncatewords_html:30 }}</p>
        </div>
        <footer class="flex items-center justify-between leading-none p-2 md:p-4">
          <div class="flex items-center">
            <img class="w-10 h-10 rounded-full"
              src="https://pbs.twimg.com/profile_images/885868801232961537/b1F6H4KC_400x400.jpg"
              alt="image of Jonathan Reinink">
            <div class="text-sm ml-2">
              <p class="text-black leading-none">{{ post.author }}</p>
              <p class="text-grey-dark">{{ post.publish|date:"d M, Y" }}</p>
            </div>
          </div>
          <a href="{{ post.get_absolute_url }}"
            class="py-2 px-3 mt-4 px-6 text-white bg-green-400 inline-block rounded">Read More</a>
        </footer>
      </article>
    </div>
    {% endfor %}
  </div>
</div>

{% show_commented_posts %}

{% include 'newsletter.html' %}

{% endblock content %}