{% load custom_tags %}
{% load static %}

<div class="container w-full md:mt-8 mx-auto py-4 md:px-12">
  
  <p class="font-sans font-bold text-3xl leading-none text-center text-green-500">Most Discussed</p>
    <div class="max-w-6xl m-auto mt-5 text-gray-800 flex flex-wrap justify-center">
      {% for post in commented_posts %}
      <div class="md:w-1/2 lg:my-4 lg:px-4 lg:w-1/2 lg:flex mb-8">
        <a href='{{ post.get_absolute_url }}'>
        <div
          class="md:h-64 h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden">
          {% if post.image %}
         <img class="md:border md:border-r-0 md:h-64 h-auto" src="{{ post.image.url }}" alt="uploaded cover image" />
         {% else %}
         <img class="md:border md:border-r-0 md:h-64 h-auto"  src="{% static 'default/blog.png'  %}" alt="default cover image" />
         {% endif %}
        </div>
        </a>
        <div
          class="md:h-64 md:w-full  border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
         
          <div class="mb-8">
            <div class="truncate text-black font-bold text-xl mb-2">{{ post.title }}</div>
            <p class="break-all text-grey-darker text-base"> {{ post.body|markdown|truncatewords_html:25 }} </p>
          </div>
   
        <footer class="flex items-center justify-between leading-none mx-3">
          <a target="_blank" rel="noopener noreferrer" href='{% url "blog:post_author" post.author %}'>
          <div class="flex items-center">
            <img class="w-10 h-10 rounded-full" src="{{ post.author.image.url }}" alt="autor image">
            <div class="text-sm ml-2">
              <p class="text-black leading-none">{{ post.author }}</p>
              <p class="text-gray-600">{{ post.publish|date:"d M, Y" }}</p>
            </div>
          </div>
          </a>
          <a href="{{ post.get_absolute_url }}"
            class="bg-green-400 hover:bg-green-500 text-white rounded-full px-8 py-2">
            Read More
          </a>
        </footer>
        </div>
      </div>
      {% empty %}
  <h2 class="leading-none mt-10 mb-20 text-center">We may need some more articles</h2>
      {% endfor %}      
    </div>
  </div>

