<div class="container px-4 pb-8">
    <div class="font-sans p-4 text-center">
      <h2 class="font-bold break-normal text-xl md:text-3xl">
        Subscribe to the Newsletter
      </h2>
      <h3 class="font-bold break-normal font-normal text-gray-600 text-sm md:text-base">
        Get the latest posts delivered right to your inbox
      </h3>
      <div class="w-full text-center pt-4">
        <form enctype="multipart/form-data" method="post" action="subscribe.html">
            {% csrf_token %}
          <div class="max-w-xl mx-auto p-1 pr-0 flex flex-wrap items-center">
            <input type="email" name="email_field" required="" id="id_email_field" placeholder="youremail@example.com"
              class="flex-1 mt-4 appearance-none border border-gray-400 rounded shadow-md p-3 text-gray-600 mr-2 focus:outline-none" />
            <button type="submit" id="id_submit" name="submit"
              class="flex-1 cursor-wait mt-4 block md:inline-block cursor-not-allowed bg-red-500 text-white text-base font-semibold tracking-wider uppercase py-4 rounded shadow hover:bg-red-400">
              Subscribe
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>