<!-- Next & Prev Links -->
<div class="font-sans flex md:mt-8 justify-between text-gray-600 dark:text-gray-400 content-center px-4 mt-5">
    {% if page.has_previous %}
        <div class="text-left">
            <a href="?page={{ page.previous_page_number }}">
                <span class="text-sm md:text-base font-normal no-underline hover:underline">
                    &lt; Previous Page</span><br/></a>
        </div>
    {% endif %}
    <div class="text-center mx-auto">
        <span class="text-sm md:text-base font-normal">
            Page
            {{ page.number }}
            of
            {{ page.paginator.num_pages }}
        </span>
        <br/>
    </div>
    {% if page.has_next %}
        <div class="text-right">
            <a href="?page={{ page.next_page_number }}">
                <span class="text-sm md:text-base font-normal no-underline hover:underline">
                    Next Page &gt;
                </span>
                <br/></a>
        </div>
    {% endif %}
</div>