{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}
{% block content %}
    <p class="font-sans font-bold text-2xl md:text-4xl leading-none my-6 md:my-12 text-center text-gray-600 dark:text-gray-200">
        Search results for
        <span class="text-teal-500">{{ query }}</span>
    </p>
    {% for post in queryset %}
        <div class="mx-auto px-4 py-4 max-w-xl my-auto">
            <div class="bg-gray-50 md:bg-white md:shadow-xl md:rounded-lg mb-6">
                <a href='{{ post.get_absolute_url }}'>
                    <div class="">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="uploaded cover image" class="overflow-hidden object-cover h-48 w-full md:h-full rounded-lg md:rounded-b-none">
                            {% else %}
                                <img src="{% static 'default/blog.png' %}" alt="default cover image" class="overflow-hidden object-cover h-48 w-full md:h-full rounded-lg md:rounded-b-none">
                                {% endif %}
                            </div>
                        </a>
                        <div class="bg-gray-50 md:bg-white md:shadow-lg dark:bg-gray-900 md:dark:bg-gray-800">
                            <a href='{{ post.get_absolute_url }}'>
                                <div class="p-4">
                                    <p class="truncate font-bold mb-2 md:mt-2 text-2xl text-gray-600 dark:text-gray-200 tracking-normal">{{ post.title }}</p>
                                    <div class="break-words text-sm text-gray-600 dark:text-gray-400 ">
                                        <p>{{ post.body|markdown|truncatewords_html:40 }}</p>
                                    </div>
                                </div>
                            </a>
                            <div class="flex items-center justify-between p-2 md:p-4 mx-2 md:mx-4">
                                <a href='{% url "blog:post_author" post.author %}'>
                                    <div class="flex items-center ml-2">
                                        <img class="overflow-hidden w-10 h-10 md:w-12 md:h-12 rounded " src="{{ post.author.image.url }}" alt="author image">
                                            <div class="text-xs ml-2 text-left text-gray-600 dark:text-gray-400">
                                                <p>{{ post.author }}</p>
                                                <p>{{ post.publish|date:"d M, Y" }}</p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="text-sm md:text-base text-left text-gray-600 dark:text-gray-400 px-8 py-2">
                                        <p>
                                            {{ post.body|markdown|read }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <h2 class="text-sm my-10 text-gray-600 dark:text-gray-400 text-center">No results were found</h2>
                {% endfor %}
            {% endblock %}