<div style="padding: 20px; text-align: center; margin: auto; background: #fafafa; font-size:15px;">
    <p style="color:grey; font-size: 24px;">
        Thanks for subscribing.</p>
    <p style="color:grey; font-size: 16px;">
       Confirm your subscription by clicking on the link given below.<br>
        If you think this is a mistake, just ignore this email</p>
    <p>
        <a style="background-color: #4fd1c5;
       border: none;
       color: white;
       padding: 15px 32px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 16px;
       margin: 4px 2px;
       cursor: pointer;
       -webkit-transition-duration: 0.4s;
       transition-duration: 0.4s;" href="{{ confirmation_url }}">Confirm subscription</a></p>
    <p style="color:grey; font-size: 16px;"> <span style="color: #4fd1c5;"></span>Unable to click on the above button?  Copy paste the URL 
            {{ confirmation_url }}
    </span></p>

    <p style="color:grey; font-size: 16px;">
        For any further queries, click <a style="color: #4fd1c5;" href="http://{{ request.get_host }}/contact">here</a> to contact.
    </p>
</div>