<div style="padding: 20px; text-align: center; margin: auto; background: #fafafa; font-size:15px;">
    <p style="color:grey; font-size: 24px;">
        Unsubscribed Successfully</p>
        <p style="color:grey; font-size: 16px;">
        Sorry to see you go :(<br>
        Bye</p>


    <p style="color:grey; font-size: 16px;">Please do not reply on this email.<br>
        For any further queries, click <a style="color: #4fd1c5;" href="http://{{ request.get_host }}/contact">here</a> to contact.
    </p>
</div>