asgiref==3.3.4
beautifulsoup4==4.9.3
certifi==2020.11.8
chardet==3.0.4
cssselect==1.1.0
Django==3.2.10
django-ckeditor==6.0.0 
django-embed-video==1.3.3
django-filter==2.4.0
django-js-asset==1.2.2
django-ranged-response==0.2.0
django-richtextfield==1.6
django-simple-captcha==0.5.14
django-taggit==1.3.0
django-user-agents==0.4.0
django-user-visit==0.4.1
djangorestframework==3.12.2
idna==2.10
install==1.3.4
lxml==4.6.3
Markdown==3.3.3
markdown2==2.4.0
Pillow==8.0.1
psycopg2-binary==2.8.6
pyquery==1.4.3
pytz==2020.4
PyYAML==5.3.1
readtime==1.1.1
requests==2.24.0
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
ua-parser==0.10.0
urllib3==1.25.11
user-agents==2.2.0
