html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    scrollbar-width: none;
    -ms-overflow-style: none
}

body::-webkit-scrollbar {
    display: none
}

::-moz-selection {
    color: white;
    background: #6366F1
}

::selection {
    color: white;
    background: #6366F1
}
