html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    scrollbar-width: none;
    -ms-overflow-style: none
}

body::-webkit-scrollbar {
    display: none
}

::-moz-selection {
    color: black;
    background: #81e6d9
}

::selection {
    color: black;
    background: #81e6d9
}
